body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 70px;
}

.topsection{
    background: url(image/donate.jpg);
    background-repeat: no repeat;
    background-size: cover;
    height: 720px;
    background-position: top;
    text-align: center;
}

.main-head{
    text-align: center;
    padding-top: 100px;
}

.top-head{
    color: black;
}

.head-two{
    padding-top: 1px;
}

a{
    text-decoration: none;
}

.donation-btn{
    margin-top: 50px;
    padding: 20px 60px;
    background-color: rgb(47, 33, 248);
    border: none;
    border-radius: 9px;
    font-size: 20px;
    color: white;
}

.next-h3{
    font-size: 20px;
    color: black;
}

.second-h3{
    font-size: 20px;
    padding-top: 1px;
}

.ammount-taka{
    display: flex;
    margin-left: 5%;
    margin-right: auto;
}

.main-ammount{
    padding-left: 7%;
    padding-right: 7%;
    font-size: 30px;
}

#textarea{
    border: none;
    resize:none;
    outline: none;
}

.second-sec{
    margin-top: 120px;
    text-align: center;
}

.third-sec{
    margin-top: 120px;
}

.fourth-sec{
    margin-top: 120px;
    text-align: center;
}

.donation-text{
    text-align: center;
}

.donation-plan{
    display: flex;
    padding: 20px 3px;
}

.plan-div{
    width: 20%;
    box-shadow: 10px 15px 50px rgb(252, 77, 77);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    background-color: rgb(247, 227, 203);
    border: 0px none;
    border-radius: 25px;
}

.under-div-h1{
    font-size: 25px;
}

.submit-div{
    margin-top: 2px;
    box-shadow: 40px 80px 100px rgb(252, 77, 77);
    padding: 10% 5%; 
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(250, 216, 175);
    border: 0px none;
    border-radius: 10px;
}

footer{
    background-color: black;
    height: 200px;
    margin-top: -15px;
    border: 0px none;
    border-radius: 3px;
    text-align: center;
}
    
.footer-p{
    color: blanchedalmond;
    font-size: 25px;
    padding-bottom: 0px;
}

.footer-div{
    padding: 3% 40%;
}

.e-mail{
    margin-top: 0px;
    font-size: 20px;
    color: yellow;
}


#submit-btn{
    background-color: rgb(47, 33, 248);
    color: white;
    border: 0.5px solid black;
    width: 70px;
    height: 30px;
    text-align: center;
}
    
#thousand{
    border: 5px groove rgb(47, 33, 248);
    padding: 10px 20px;
    color: rgb(47, 33, 248);
}

#email{
    border: 3px rgb(47, 33, 248);
    border-style: hidden;
    height: 30px;
    width: 200px;
}