body{
    text-align: center;
}

h1{
    font-size: 70px;
}

.topsection{
    background: url(image/Donate\ your\ best\ main\ pic.png);
    background-repeat: no repeat;
    background-size: cover;
    height: 720px;
    background-position: center;
    text-align: center;
}

.main-head{
    text-align: center;
    padding-top: 200px;
}

.top-head{
    color: blue;
}

a{
    text-decoration: none;
}

.donation-btn{
    margin-top: 50px;
    padding: 20px 70px;
    background-color: rgb(6, 241, 241);
    border: none azure;
    border-radius: 9px;
    font-size: 30px;
    color: black;
}

.next-h3{
    font-size: 25px;
    color: chartreuse;
}

.second-h3{
    font-size: 20px;
    padding-top: 1px;
}

.ammount-taka{
    display: flex;
    margin-left: 5%;
    margin-right: auto;
}

.main-ammount{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
}

#textarea{
    border: none;
    resize:none;
    outline: none;
}

.third-sec{
    margin-top: 120px;
}

.fourth-sec{
    margin-top: 120px;
}

.donation-plan{
    display: flex;
    padding: 20px 3px;
}

.plan-div{
    width: 20%;
    box-shadow: 10px 15px 50px rgb(252, 77, 77);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    background-color:rgb(230, 211, 188);
    border: 0px none;
    border-radius: 25px;
}

.under-div-h1{
    font-size: 30px;
}

.submit-div{
    margin-top: 2px;
    box-shadow: 40px 90px 90px rgb(252, 77, 77);
    padding: 10% 5%; 
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(230, 211, 188);
    border: 0px none;
    border-radius: 10px;
}

footer{
    background-color: black;
    height: 200px;
    margin-top: -15px;
    border: 0px none;
    border-radius: 10px;
    text-align: center;
}
    
.footer-p{
    color: blanchedalmond;
    font-size: 25px;
    padding-bottom: 0px;
}

.footer-div{
    padding: 3% 40%;
}

.e-mail{
    margin-top: 0px;
    font-size: 20px;
    color: yellow;
}

.second-sec{
    margin-top: 120px;
}

#submit-btn{
    background-color: red;
    color: white;
    border: 0.5px solid black;
    width: 50px;
}
    
#thousand{
    border: 5px groove rgb(252, 77, 77);
    background-color: white;
    height: 80px;
    width: 100px;
    padding: 3px 5px;
    color: rgb(252, 77, 77);
}